.div_footer{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.ul_footer{
    margin-top: 50px;

}
.li_ul{
    list-style: none;
    margin-bottom: 10px;
}
.li_title{
    font-weight: bold;
    margin-bottom: 20px;
    list-style: none;
}
.img_twiter{
    width: 12px;
}
.li1_ul{
    list-style: none;
    margin-bottom: 10px;
    float: right;
}
.li2_ul{
    list-style: none;
    
}
.div2_footer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.img_visa{
    width: 14px;
}
.div3_footer{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
}
.div3_footer_box1{
    text-align: center;
    margin-top: 20px;
}
.p1_div3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 17px;
}
.p2_div3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.p3_div3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.p12_div3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.p13_div3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.p14_div3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    
}
.img_final_footer{
    display: flex;
    
}